data_files/data/*.csv
datalake/
mysql-db/
spark-files/
postgres-data/
airflow/logs/
airflow/dags/__pycache__/
airflow/plugins/
airflow/config/
docker.txt
data_files/
Dados projeto Stack Labs.docx
*.csv
docker-compose_bck.yml
notebook/.cache
notebook/__pycache__/
notebook/.ipynb_checkpoints
notebook/.ipython
notebook/.jupyter
notebook/.local
notebook/.config
notebook/parquet_saved
notebook/parquet_read
notebook/data
notebook/temp
variables.json
docker-compose_bck1.yml
Dockerfile_bck
move_files_to_bucket_landing-Copy1.ipynb
*.parquet
.bash_history